/*
Hendy Rodrigues framework style
Developer by Hendy Rodrigues F. Silva (mr.syslogg@gmail.com);
- Project created: 19/09/2016;
- License: MIT;
- Repository: http://github.com/syslogg/hr-style

# Descrption:
The HR Style was developed focusing on agile development and beautiful design based on material design always look for extensibility, perfomance and ease.
Designed using mobile-first for best experience in various devices.

Contribuite: TO-DO
# Documentation

# Element list:
- button;
- table;
- form;
- menu;
- text;
- alert;
- modal;

# Utility:
- clearfix;
- floats;
- hidden;

# Pattern
- **prefix:** hr;
- **font:** Raleway (default), Open Sans (alternative), Roboto (titles) 
*/
/* # Imports */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:400,400i,700|Roboto:400,700';

/* # Settings  */
/* - Fonts */
@font-default: 'Raleway';
@font-alternative: 'Open Sans';
@font-titles: 'Roboto';

@font-small: 0.6em;
@font-medium: 0.9em;
@font-big: 1.2em;
@font-family: @font-default, @font-alternative, @font-titles, 'sans-serif';

/* - Buttons */
@btn-padding: 10px 20px;
@btn-bg-color:#555;
@btn-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

/* - Colors*/
@color-success: #41c225;
@color-danger: #991515;
@color-warn: #cbc70a;
@color-info: #1486d7;

@color-success-hover: #2c8219;
@color-danger-hover: #610d0d;
@color-warn-hover: #817f06;
@color-info-hover: #0b4975;

@color-success-active: #143c0b;
@color-danger-active: #300606;
@color-warn-active: #4e4d04;
@color-info-active: #072c48;

/* # Mixins */

.font-setting { font-family: @font-family; font-size:@font-medium;}
/* - Free prefix */
.transition-duration (@duration) { -webkit-transition-duration: @duration; -moz-transition-duration: @duration; -ms-transition-duration: @duration; -o-transition-duration: @duration; }
.border-radius (@radius) { -webkit-border-radius: @radius; -moz-border-radius: @radius; -ms-border-radius: @radius; -o-border-radius: @radius; border-radius: @radius;}

/* # Media queries */

/* # Pattern */
a {
    text-decoration:none;
    &:hover {
        text-decoration:underline;
    }
}
/* # OOCSS */
/* ## Class BTN: */
//Button group
.btn-group .btn{ float:left;}
.btn  { 
    background:@btn-bg-color;
    padding:@btn-padding;
    border:none;
    color:white;
    text-align:center;
    text-decoration:none !important;
    display:inline-block;

    .transition-duration(0.4s);
    .font-setting;

    &-shadow:hover { box-shadow: @btn-shadow; }

    //Hover effect
    &:hover { background:#333; }
    &:active {background:#111;}

    //Size
    &-sm { font-size:@font-small; padding:7px 15px; }
    &-md { font-size:@font-medium; }
    &-bg { font-size:@font-big; }

    //Structure
    &-block { display:block; }
    &-round { .border-radius(8px); }

    //color
    &-success { background: @color-success;
        &:hover { background:@color-success-hover; }
        &:active { background:@color-success-active; }
    }
    &-danger { background: @color-danger;
        &:hover { background:@color-danger-hover; }
        &:active { background:@color-danger-active; }
    }
    &-warn { background: @color-warn;
        &:hover { background:@color-warn-hover; }
        &:active { background:@color-warn-active; }
    }
    &-info { background: @color-info;
        &:hover { background:@color-info-hover; }
        &:active { background:@color-info-active; }
    }

    //Desabled
    &-disabled { opacity:0.6; cursor:not-allowed; }
 }

 




