/*

    -= HR GRID =-
    - Layout grid    
        - Class:
            - layout-fluid
                * root of layout with width in 100%.
            - layout-fixed
                * root of layout with width variant.
*/

@width-fluid: 80%;
@width-fixed: 1024px;

/* -= Root of layout =-*/
.layout { margin:0 auto; }
.layout-fluid { width:@width-fluid; .layout; }
.layout-fixed { width: @width-fixed; .layout; }


