/*

    -= HR GRID =-
    - Layout grid
        - Class:
            - layout-fluid
                * root of layout with width in 100%.
            - layout-fixed
                * root of layout with width variant.
*/

@width-fluid: 80%;
@width-fixed: 960px;

@margin-fixed: 20px;

/* -= Root of layout =-*/
.layout { margin:0 auto; }
.layout-fluid { width:@width-fluid; .layout; }
.layout-fixed { width: @width-fixed; .layout; }

.layout-row { background:#000 }

[class*='layout-'] {  }


/* - Size XS */
[class*='layout-xs-'] { margin-left: @margin-fixed; background:black; }
